body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: RGB(25, 25, 25);
    justify-content: center;
    margin: 0;
}

.calculator-container {
    display: flex;
    flex: 0 1 300px;
    margin: 36px 0px;
    padding: 16px;
    border-radius: 8px;
    background-color: RGB(20, 20, 20);
    flex-direction: column;
}

.display-container .display {
    color: white;
    font-size: 5vh;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    margin: 5px 0px;
    justify-content: space-around;
    flex: 1 1 60px;
}



.buttons-container button {
    border-radius: 100px;
    flex: 0 1 60px;
    border: none;
    font-size: 24px;
}

.buttons-container .numbers{
    background-color: hsl(0, 0%, 50%); /*Grey*/
    color: white;
}

.buttons-container .numbers.hover{
    background-color: hsl(0, 0%, 30%); /*Grey*/
}

.buttons-container .numbers.pressed{
    background-color: hsl(0, 0%, 20%); /*Grey*/
}

.buttons-container .operation {
    background-color: hsl(39, 100%, 50%); /*Orange*/
    color: white;
    font-size: 32px;
}

.buttons-container .operation.hover{
    background-color: hsl(39, 100%, 40%); /*Orange*/
}

.buttons-container .operation.pressed{
    background-color: hsl(39, 100%, 30%); /*Orange*/
}

.buttons-container .function1 {
    background-color: hsl(0, 0%, 83%); /*Light grey*/
}

.buttons-container .function1.hover {
    background-color: hsl(0, 0%, 70%); /*Light grey*/
}

.buttons-container .function1.pressed {
    background-color: hsl(0, 0%, 55%); /*Light grey*/
}

.buttons-container .row5 #num0,
.buttons-container .row1 #clear {
    flex: 0 1 135px;
}

